APP_ENV=dev
DAGSHUB_TOKEN=your_dagshub_token_here
DAGSHUB_USERNAME=your_dagshub_username_here
DAGSHUB_REPO=your_dagshub_repo_name_here
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=your_supabase_key_here
RENDER_DEPLOY_HOOK=https://api.render.com/deploy/your-hook
